.header {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  background-color: black;
  flex-shrink: 0;
}

.header__link {
  color: white;
  text-decoration: none;

  margin-right: 15px;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.header__link--active {
  color: red;
}

.header__link--pending {
  opacity: 0.5;
}

.header__logo {
  width: 50px;
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__user-nav {
  position: absolute;
  right: 100px;
}


